

  /* Body background */

  #bodyContainer {

    background-image: url("../images/dark-paths.png");
    margin: 0 auto;
  }
/* Container for projects, picture and social media buttons */
  #projectContainer{
    height: 500px; 
    border-color: darkgreen;
    border-width: 3px;
    border-style: groove;
    padding: 20px;
    margin-top: 6%;
    margin-bottom: 15%;
    background-image: url("../images/grey_wash_wall.png");
  }
  /* my picture */
  #me{

    width: 220px;
    height: 300px;
    border-color: darkgreen;
    border-width: 3px;
    border-style: groove;
    margin: 10px;
  }

  /* social media buttons */
  .socialMedia{
    
    margin: 5px;
    
    
    
  }
/* Links to projects */
  .projects{
    
  }
/* Wrapper for grid layout */
.wrapper{

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 3px;
  grid-row-gap: 1px;
  grid-row: 100px(20px 20px);
  margin: 3px;
  background-color: brown;
}
/* Links in nav bar */
.navLinks{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blanchedalmond;
  font-size: 25px;
}
/* project links */
#projectLink{

  width: 100%;
  background-color: blue;
  opacity: 0.4;
  margin: 4px 0px 0px 0px;
}
  