

  /* Body background */

  #bodyContainer {

    background-image: url("../images/dark-paths.png");
    margin: 0 auto;
  }
/* Container for projects, picture and social media buttons */
  #projectContainer{
    height: 500px;
    width: 950px; 
    border-color: darkgreen;
    border-width: 3px;
    border-style: groove;
    padding: 20px;
    margin: 6% 16% 15% 18%;
    
    background-image: url("../images/grey_wash_wall.png");
  }
  /* my picture */
  #me{

    width: 220px;
    height: 300px;
    border-color: darkgreen;
    border-width: 3px;
    border-style: groove;
    margin: 10px;
  }

  /* social media buttons */
  #socialMedia,  #socialMediag{
    width: 30%;
    margin: 11%;
    
  }

 
/* Wrapper for grid layout */
.wrapper{

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 5px;
  grid-row: 100px 20px 20px;
  grid-template-areas:
  "me . projects"
  "socialMedia"
  "socialMediag";  
}
/* Links in nav bar */
.navLinks{

 background-image: url("../images/grey_wash_wall.png");
 opacity: 0.9;
}
/* project links */
#projectLink{

  width: 100%;
  height: 60px;
  background-color: blue;
  opacity: 0.4;
  margin: 6px 0px 6px 0px;
  padding: 0%;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* project pictures */
#projectPics{
  float: left;
  width:50px;
  height: 60px;
  margin-top: 6px;
  position: absolute;
  z-index: 9;
}

/* Git Hub Icon Style */
.stylish{display:block;width:50px;height:50px;border-radius:55px;border:4px double #ccc;font-size:18px;color:#666;line-height:90px;text-align:center;text-decoration:none;text-shadow:0 1px 0 #fff;background:#ddd}.stylish:hover{border:4px double #bbb;color:#aaa;text-decoration:none;background:#e6e6e6 }

/* Linked in Style */
.lShadow{

  box-shadow: 2px 2px 3px darkblue;
}

/* Footer */
footer{
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  background-image: url("../images/grey_wash_wall.png");
  text-align: center;
  height: 50px;
}

/* Header */

#header{

    background-image: url("../images/grey_wash_wall.png");
    height: 50px;
    text-align: center;
    color: rgb(3, 3, 66);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    ;

}


/* About Me Page Style */

.aboutMe{
    width: 100%;
    height: 370px;
    background-color: blue;
    opacity: 0.4;
    margin: 6px 0px 6px 0px;
    padding: 0%;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
  }

  /* Contact Me Style */

  .contactMe{
    width: 100%;
    height: 300px;
    background-color: blue;
    opacity: 0.4;
    margin: 6px 0px 6px 0px;
    padding: 0%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
  }

  /* media quieries */
  @media screen and (min-width: 300px) and (max-width: 573px) {

    /* Container for projects, picture and social media buttons */
    #projectContainer{
      height: 500px;
      width: 100%;
      border-color: darkgreen;
      border-width: 3px;
      border-style: groove;
      padding: 20px;
      margin: 0%;
      float: left;
      
      background-image: url("../images/grey_wash_wall.png");
    }
     /* project links */
     #projectLink{

      width: 100%;
      height: 60px;
      background-color: blue;
      opacity: 0.4;
      margin: 6px 0px 6px 0px;
      padding: 0%;
      font-size: 11px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    /* About Me Page Style */

    .aboutMe{
    width: 100%;
    height: 370px;
    background-color: blue;
    opacity: 0.4;
    margin:  0;
    padding: 0%;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
  }
    #bodyContainer {

      background-image: url("../images/dark-paths.png");
      margin: 0 auto;
    }
    
    .contactMe{
      width: 100%;
      height: 300px;
      background-color: blue;
      opacity: 0.4;
      margin:  6px 0px 6px 0px;
      padding: 0%;
      font-size: 14px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: azure;
    }
  }

  @media screen and (min-width: 574px) and (max-width:599px){
  #projectContainer {
      height: 500px;
      width: auto;
      border-color: darkgreen;
      border-width: 3px;
      border-style: groove;
      padding: 18px;
      margin: 0;
      background-image: url(../images/grey_wash_wall.png);
      float: left;
  }
   /* project links */
   #projectLink{

    width: 100%;
    height: 60px;
    background-color: blue;
    opacity: 0.4;
    margin: 6px 0px 6px 0px;
    padding: 0%;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* About Me Page Style */

  .aboutMe{
  width: 100%;
  height: 370px;
  background-color: blue;
  opacity: 0.4;
  margin:  6px 0px 6px 0px;
  padding: 0%;
  font-size: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: azure;
}
  #bodyContainer {

    background-image: url("../images/dark-paths.png");
    margin: 0 auto;
  }
  
  .contactMe{
    width: 100%;
    height: 300px;
    background-color: blue;
    opacity: 0.4;
    margin:  6px 0px 6px 0px;
    padding: 0%;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
  }
}
  @media (min-width: 600px) and (max-width: 768px){

    #projectContainer{
      height: 500px;
      width: auto; 
      border-color: darkgreen;
      border-width: 3px;
      border-style: groove;
      padding: 18px;
      margin: 0 auto;
      float: left;
      background-image: url("../images/grey_wash_wall.png");
    }
    /* project links */
    #projectLink{

      width: 100%;
      height: 60px;
      background-color: blue;
      opacity: 0.4;
      margin: 6px 0px 6px 0px;
      padding: 0%;
      font-size: 19px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    /* About Me Page Style */

    .aboutMe{
    width: 100%;
    height: 370px;
    background-color: blue;
    opacity: 0.4;
    margin:  6px 0px 6px 0px;
    padding: 0%;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
  }
    #bodyContainer {

      background-image: url("../images/dark-paths.png");
      margin: 0 auto;
    }
    
    .contactMe{
      width: 100%;
      height: 300px;
      background-color: blue;
      opacity: 0.4;
      margin:  6px 0px 6px 0px;
      padding: 0%;
      font-size: 18px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: azure;
    }
  }

    @media (min-width: 769px) and (max-width: 1275px){

      #projectContainer{
        height: 500px;
        width: 100%;
        border-color: darkgreen;
        border-width: 3px;
        border-style: groove;
        padding: 18px;
        margin: 0 auto;
        float: left;
        background-image: url("../images/grey_wash_wall.png");
      }
      /* project links */
      #projectLink{
  
        width: 100%;
        height: 60px;
        background-color: blue;
        opacity: 0.4;
        margin: 6px 0px 6px 0px;
        padding: 0%;
        font-size: 19px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      
      /* About Me Page Style */
  
      .aboutMe{
      width: 100%;
      height: 370px;
      background-color: blue;
      opacity: 0.4;
      margin:  6px 0px 6px 0px;
      padding: 0%;
      font-size: 15px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: azure;
      float: left;
    }
      #bodyContainer {
  
        background-image: url("../images/dark-paths.png");
        margin: 0 auto;
      }
      
      .contactMe{
        width: 100%;
        height: 300px;
        background-color: blue;
        opacity: 0.4;
        margin:  6px 0px 6px 0px;
        padding: 0%;
        font-size: 18px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: azure;
        float: left;
      }

    }
    
  